body {

    background-color: white;
    font-family: 'Mulish', sans-serif;   
}

.current {

  color: #665df5;
}

.button-view {

    width: 100%;
    max-width: 70px;
    background-color: #665df5;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    min-width: 60px;
    
}

.home-ref{

  text-decoration: none;
}

:visited{

  color: black;
}

.post-list{

  text-decoration: none;
}

.title-submenu{

  color: #665df5;
}

